# Ignore the build and lib directories
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore Xcode preference files
*.pbxproj
*.xcuserstate
*.xcbkptlist
*.xcscheme

